* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

#title {
  font-size: 2rem;
  font-weight: bold;
}

#current-time {
  font-size: 3rem;
  color: #0275d8;
  border: 1.5px solid #0275d8;
  padding: 4px 12px;
  border-radius: 8px;
  margin-bottom: 3rem;
  margin-top: 2rem;
}

#time-input {
  display: flex;
  flex-direction: row;
  margin-bottom: 2.4rem;
  align-items: flex-end;
}

#time-input input {
  max-width: 80px;
  font-size: 24px;
  margin-left: 1.6rem;
}

#time-input h3 {
  margin-bottom: 0;
  text-transform: lowercase;
  font-size: 1.4rem;
}

#time-input input:first-child {
  margin: 0;
}
